.mainDiv{
    padding-top: 5%;
    position: relative;
    background: rgba(255, 255, 255, 0.90);
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 15%;
}

.headerMainPage{
    color: #ff8800; 
    font-size: 48px; 
    font-family: 'Signika', sans-serif; 
    padding-bottom: 10px;
}


.createTypo{
    position: relative;
    display: flex;
    justify-content: center;
    font-size: large;
}

.createForm{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 6%;  
    text-align: center;
}

.createButton{
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: bolder;
    margin-top: 7%;  
}
